.letter-table-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .letter-table {
    border-collapse: separate;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 3px;
    justify-items: center;
  }
  
  .letter-cell {
    vertical-align: top;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 2px solid transparent; 
  }
  
  .letter-cell:hover, .selected-column:hover {
    background-color: #f0f0f0; 
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); 
  }
  
  .selected-column {
    background-color: white;
    border-color: rgba(0, 0, 0, 1); 
    z-index: 1; 
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .selected-column + .selected-column {
    border-left-color: transparent; 
    margin-left: -2px; 
  }
  
  .letter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .letter-item {
    margin: 2px 0;
    text-align: center;
    padding: 1px;
  }
  
  .tamil-letter {
    font-size: 22px;
    font-weight: bold;
    color: black; 
    display: block;
  }
  
  .romanized-letter {
    font-size: 14px;
    color: #666666;
    display: block;
    line-height: 1.2;
  }
  
  @media (max-width: 1200px) {
    .letter-table {
      grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    }
  }
  
  @media (max-width: 992px) {
    .letter-table {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }
  }
  
  @media (max-width: 768px) {
    .letter-table {
      grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .letter-table {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
  }
  
  @media (max-width: 480px) {
    .letter-table {
      grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));
    }
  }
  